<div class="row">
  <div class="col-sm-6">
    <div style="display: block;">
      <canvas baseChart 
        [data]="pieChartData" 
        [labels]="pieChartLabels" 
        [chartType]="pieChartType"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins"
        [colors]="pieChartColors"
        [legend]="pieChartLegend">
      </canvas>
    </div>
    
  </div>
  <div class="col-sm-6">
    <div class="col-sm-12">
      <!-- <app-user></app-user> -->
    </div>
  </div>
  <div class="col-sm-12">
    <!-- <app-list [users]="users"></app-list> -->
  </div>
</div>