table {
  width: 100%;
}
.mainBorder{
  border: 1px solid gray;
  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.chartBorder{
  border: 1px solid gray;
  padding-top: 1rem;
  padding-bottom: 1rem;
}